<div class="contentOut">
    <div class="pageTittle">
        <h1>Menu - Soups and lunches</h1>
    </div>
    <div class="content">
        <div class="item" ng-repeat="soup in soups">
            <h3><span>{{soup.name}}</span></h3>
            <div class="info">
                <div class="photo">
                    <img ng-src="{{soup.imgUrl}}">
                </div>
                <div class="description">
                    <div class="composition">
                        <div class="leftColumn">
                            <b ng-repeat="composition in soup.composition">{{composition}}, </b>
                            <div class="weight">
                                <b>{{soup.weight}}g.</b>
                            </div>
                        </div>
                        <div class="rightColumn">
                            <div class="count">
                                <input type="text" ng-model="countProduct" ng-init="countProduct=1" class="products_count" maxlength="3"> шт.
                            </div>
                            <button type="button" ng-click="addBasket(soup, countProduct)" class="btn btn-danger">Add to basket</button>
                            <div class="coast">
                                <b>{{soup.coast}} rub.</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <!-- кнопки навигации по страницам -->
    <div class="pageNumber">
        <button ng-repeat="i in getNumberAsArray(numberOfPages) track by $index" ng-click="setCurrentPage($index)">{{$index + 1}}</button>
    </div>
</div>